<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Danh sách bài viết bị từ chối</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table" id="myTable">
                <thead class=" text-primary">
                  <th onclick="sortTable(0)">
                    STT
                  </th>
                  <th onclick="sortTable(1)">
                    Tên bài viết
                  </th>
                  <th onclick="sortTable(2)">
                    Chuyên mục
                  </th>

                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Hoàng cung Tokyo, nơi Nhật hoàng mới đăng cơ
                    </td>
                    <td>
                      Thế giới
                    </td>

                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      Nuốt tai nghe trong lúc ngủ, sáng dậy thấy bụng phát ra nhạc
                    </td>
                    <td>
                      Công nghệ
                    </td>

                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      Tăng 100 giờ làm thêm mỗi năm cho người lao động
                    </td>
                    <td>
                      Kinh doanh
                    </td>

                  </tr>
                  <tr>
                    <td>
                      4
                    </td>
                    <td>
                      Thí sinh Hoa hậu Mỹ 2019 diện áo tắm, khoe hình thể gợi cảm săn chắc
                    </td>
                    <td>
                      Giải trí
                    </td>

                  </tr>
                  <tr>
                    <td>
                      5
                    </td>
                    <td>
                      Những hình thức tra tấn kinh dị nhất trong lịch sử
                    </td>
                    <td>
                      Pháp luật
                    </td>

                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>