<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Danh sách bài viết chờ xuất bản</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table" id="myTable">
                <thead class=" text-primary">
                  <th onclick="sortTable(0)">
                    STT
                  </th>
                  <th onclick="sortTable(1)">
                    Tên bài viết
                  </th>
                  <th onclick="sortTable(2)">
                    Chuyên mục
                  </th>

                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Nhà vua Naruhito đăng cơ, Nhật Bản bước sang thời đại mới
                    </td>
                    <td>
                      Thế giới
                    </td>

                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      Tự sửa iPhone sẽ rước họa vào thân
                    </td>
                    <td>
                      Công nghệ
                    </td>

                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      Giá xăng có thể tăng 400-500 đồng/lít sau nghỉ lễ 30/4 - 1/5
                    </td>
                    <td>
                      Kinh doanh
                    </td>

                  </tr>
                  <tr>
                    <td>
                      4
                    </td>
                    <td>
                      Trịnh Sảng bị chê giống bộ xương khi đóng 'Thiến nữ u hồn'
                    </td>
                    <td>
                      Giải trí
                    </td>

                  </tr>
                  <tr>
                    <td>
                      5
                    </td>
                    <td>
                      Phá thành công chuyên án ma túy, thu giữ 26 bánh heroin
                    </td>
                    <td>
                      Pháp luật
                    </td>

                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>