<div class="col-2 mt-3"></div>
<div class="col-8 mt-3 popup-duyet">
  <form action="/writer/post" method="POST" id="frmPost">
    <div class="card text-center shadow-sm ">
      <div class="card-header bg-success">
        <h4>Đăng bài viết</h4>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="tieude" class="h5">Tiêu đề</label>
          <input type="text" class="form-control" id="tieude" name="tieude">
        </div>
        <div class="form-group">
          <label for="tieude" class="h5">Ảnh đại diện</label>
          <div class="file-loading">
            <input id="fuMain" name="fuMain" type="file" multiple>
          </div>
        </div>
        <input type="hidden" id="imgPath" name="imgPath" value="">

        <div class="form-group">
          <label for="tomtat" class="h5">Tóm tắt nội dung</label>
          <textarea class="form-control" id="tomtat" rows="3" name="tomtat"></textarea>
        </div>
        <div class="form-group">
          <label for="tags" class="h5">Các tag</label>
          <input type="text" class="form-control" id="tags" name="tags">
        </div>
        <div class="form-group">
          <label for="chuyemmuc" class="h5">Chuyên mục</label>
          <select class="form-control" id="chuyenmuc" name="chuyenmuc">
            <% listCat.forEach(function(e){ %>
            <option><%= e %></option>
            <% }) %>
          </select>
        </div>
        <textarea name="wysiwyg" class="form-control" id="wysiwyg"></textarea>
        <hr>
        <a href="javascript: $('#frmPost').submit();" class="btn btn-primary">Đăng bài viết</a>
      </div>
    </div>
  </form>
</div>