<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Danh sách bài viết đã xuất bản</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table" id="myTable">
                <thead class=" text-primary">
                  <th onclick="sortTable(0)">
                    STT
                  </th>
                  <th onclick="sortTable(1)">
                    Tên bài viết
                  </th>
                  <th onclick="sortTable(2)">
                    Chuyên mục
                  </th>

                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Maduro tuyên bố đánh bại cuộc đảo chính của phe đối lập
                    </td>
                    <td>
                      Thế giới
                    </td>

                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      Thủ quân Ajax tiếc vì không thể thắng Tottenham đậm hơn
                    </td>
                    <td>
                      Thể thao
                    </td>

                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      Sau lễ, giá xăng có thể tiếp tục tăng
                    </td>
                    <td>
                      Kinh doanh
                    </td>

                  </tr>
                  <tr>
                    <td>
                      4
                    </td>
                    <td>
                      Vẻ điển trai của các tài tử 'Avengers'
                    </td>
                    <td>
                      Giải trí
                    </td>

                  </tr>
                  <tr>
                    <td>
                      5
                    </td>
                    <td>
                      Tàu Cát Linh - Hà Đông được kiểm định chất lượng như thế nào?
                    </td>
                    <td>
                      Thời sự
                    </td>

                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>