<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title> Editor - Admin Page </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <%- include('./head') -%>
</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="green" data-background-color="white" data-image="#">
            <div class="logo">
                <a href="#" class="simple-text logo-normal">
                    Biên tập viên - Editor
                </a>
                <a href="#" class="simple-text logo-normal">
                    Thể thao
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li
                        class="nav-item <% if( typeof(activeAdmin) != 'undefined' && activeAdmin === true){%> active <%}else{}  %> ">
                        <a class="nav-link" href="../editor/admin">
                            <i class="material-icons">dashboard</i>
                            <p>Trang chủ</p>
                        </a>
                    </li>
                    <li
                        class="nav-item <% if( typeof(activeUpdate) != 'undefined' && activeUpdate === true){%> active <%}else{}  %> ">
                        <a class="nav-link" href="../editor/update">
                            <i class="material-icons">person</i>
                            <p>Cập nhật thông tin</p>
                        </a>
                    </li>
                    <li
                        class="nav-item <% if( typeof(activeWait) != 'undefined' && activeWait === true){%> active <%}else{}  %> ">
                        <a class="nav-link" href="../editor/wait">
                            <i class="material-icons">content_paste</i>
                            <p>Bài viết chờ xử lý</p>
                        </a>
                    </li>
                    <li
                        class="nav-item <% if( typeof(activeApprove) != 'undefined' && activeApprove === true){%> active <%}else{}  %> ">
                        <a class="nav-link" href="../editor/approve">
                            <i class="material-icons">content_paste</i>
                            <p>Bài viết đã duyệt</p>
                        </a>
                    </li>
                    <li
                        class="nav-item <% if( typeof(activeReject) != 'undefined' && activeReject === true){%> active <%}else{}  %> ">
                        <a class="nav-link" href="../editor/reject">
                            <i class="material-icons">content_paste</i>
                            <p>Bài viết đã từ chối</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="#pablo">
                            <% if( typeof(activeAdmin) != 'undefined' && activeAdmin === true){%> Trang chủ
                            <%}else{}  %>
                            <% if( typeof(activeUpdate) != 'undefined' && activeUpdate === true){%> Cập nhật thông tin
                            <%}else{}  %>
                            <% if( typeof(activeWait) != 'undefined' && activeWait === true){%> Bài viết chờ xử lý
                            <%}else{}  %>
                            <% if( typeof(activeApprove) != 'undefined' && activeApprove === true){%> Bài viết đã duyệt
                            <%}else{}  %>
                            <% if( typeof(activeReject) != 'undefined' && activeReject === true){%> Bài viết đã từ chối
                            <%}else{}  %>
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search..." id="myInput"
                                    <% if( typeof(activeUpdate) != 'undefined' && activeUpdate === true){%> disabled
                                    <%}else{}  %> onkeyup="searchTable()">
                            </div>
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    <p class="d-lg-none d-md-block">
                                        Account
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" href="../../editor/update">Profile</a>
                                    <a class="dropdown-item" href="#">Log out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <%- include(filename) %>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <p style="margin-left: 0 auto;">Copyright&copy;2019 - We are Web8-Team</p>
                </div>
            </footer>
        </div>
    </div>

    <% if( typeof(activeWait) != 'undefined' && activeWait === true){%>
    <%- include('../../editor/editor_popup.ejs') %>
    <%}else{}  %> ">

    <%- include('./foot') -%>

</body>

</html>