<% var path = '/public/resource/img/post/'%>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Báo điện tử - Nhóm 8</title>
    <%- include('../layouts/TrangChu/head') -%>
</head>

<body>
    <%- include('../layouts/TrangChu/navbar')%>
    

     <div class="container h-100">
    <div class="row h-100 align-items-center mt-100 mb-100">
      <div class="col-md-12">
        <div class="card w-50 shadow mx-auto">
          <div class="card-body text-center">
            <h1 class="card-title">Lỗi!!!</h1>
            <h2>Không tìm thấy trang web</h2>
            <div>Đã có một số vấn đề xảy ra. Vui lòng kiểm tra lại đường dẫn</div>
            <div class="my-4">
              <a href="/" class="btn btn-primary">
                <i class="fa fa-home" aria-hidden="true"></i>
                Về trang chủ
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <!-- ##### Footer Area Start ##### -->
    <%- include('../layouts/TrangChu/footer') -%>   
                <!-- ##### Footer Area End ##### -->

                <!-- ##### All Javascript Script ##### -->
                <!-- jQuery-2.2.4 js -->
                <script src="../../public/vendors/template/js/jquery/jquery-2.2.4.min.js"></script>
                <!-- Popper js -->
                <script src="../../public/vendors/template/js/bootstrap/popper.min.js"></script>
                <!-- Bootstrap js -->
                <script src="../../public/vendors/template/js/bootstrap/bootstrap.min.js"></script>
                <!-- All Plugins js -->
                <script src="../../public/vendors/template/js/plugins/plugins.js"></script>
                <!-- Active js -->
                <script src="../../public/vendors/template/js/active.js"></script>
</body>

</html>