<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="footer-widget">
                    <!-- Logo -->
                    <a href="index.html" class="foo-logo"><img src="../../../public/vendors/template/img/core-img/logo2.png" alt=""></a>
                    <p>TH Web News / K16</p>
                    <div class="footer-social-info">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="footer-widget">
                    <h6 class="widget-title">Chuyên mục</h6>
                    <nav class="footer-widget-nav">
                        <ul>
                            <li><a href="/list/the-thao"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Thể thao</a></li>
                            <li><a href="/list/kinh-doanh"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Kinh doanh</a></li>
                            <li><a href="/list/giai-tri"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Giải trí</a></li>
                            <li><a href="/list/giao-duc"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Giáo dục</a></li>
                            <li><a href="/list/doi-song"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Đời sống</a></li>
                            <li><a href="/list/quan-su"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Quân sự</a></li>
                            <li><a href="/list/cong-nghe"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Công nghệ</a></li>
                            <li><a href="/list/du-lich"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Du lịch</a></li>
                            <li><a href="/list/phap-luat"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Pháp luật</a></li>
                            <li><a href="/list/the-gioi"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Thế giới</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="footer-widget">
                    <h6 class="widget-title">Địa chỉ</h6>
                    <p>Số 227 Nguyễn Văn Cừ, phường 4, quận 5, TPHCM</p>
                </div>
            </div>

            <!-- Footer Widget Area -->
            <!-- <div class="col-12 col-sm-6 col-lg-3">
                <div class="footer-widget">
                    <h6 class="widget-title">Nhãn</h6>
                    <ul class="footer-tags">
                        <li><a href="#">Bóng đá</a></li>
                        <li><a href="#">Khủng hoảng</a></li>
                        <li><a href="#">Ca sĩ</a></li>
                        <li><a href="#">Tai nạn</a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</footer>