<header class="header-area">

        <!-- Navbar Area -->
        <div class="mag-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="magNav">

                    <!-- Nav brand -->
                    <a href="index.html" class="nav-brand"><img src="vendors/template/img/core-img/logo1.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Nav Content -->
                    <div class="nav-content d-flex align-items-center">
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="/list/phap-luat">Pháp luật</a></li>
                                    <li><a href="#">Thế giới</a></li>
                                    <li><a href="#">Kinh doanh</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Nông sản</a></li>
                                            <li><a href="#">Hải sản</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Giáo dục</a>
                                       
                                    </li>
                                    <li><a href="#">Giải trí</a></li>
                                    <li><a href="#">Khác</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Đời sống</a></li>
                                            <li><a href="#">Thể thao</a></li>
                                            <li><a href="#">Công nghệ</a></li>
                                            <li><a href="#">Quân sự</a></li>
                                            <li><a href="#">Du lịch</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <div class="top-meta-data d-flex align-items-center">
                            <!-- Top Search Area -->
                            <div class="top-search-area">
                                <form action="index.html" method="post">
                                    <input type="search" name="top-search" id="topSearch" placeholder="Tìm kiếm">
                                    <button type="button" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>
                            <!-- Login -->
                            <a href="login.html" class="login-btn"><i class="fa fa-user" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>