<nav id="sidebar">
        <div class="sidebar-header">
            <img src="https://img.icons8.com/color/100/000000/user-male-circle.png">
            <div>
                <p>Lê Hoàng Sang</p>
                <p >Admin</p>
            </div>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="ManageCategory.html">Quản lý chuyên mục</a>
              
            </li>
            <li class="active">
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Quản lý người dùng</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li class="active">
                        <a href="ManageSubscriber.html">Độc giả</a>
                    </li>
                    <li>
                        <a href="ManageEditor.html">Biên tập viên</a>
                    </li>
                    <li>
                        <a href="ManageWriter.html">Phóng viên</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="ManagePosts.html">Quản lý bài viết</a>
            </li>
            <li>
                <a href="ManageTag.html">Quản lý nhãn</a>
            </li>
        </ul>

       
    </nav>