@media only screen and (max-width: 1200px){
	.new_news a{
        font-size: 75%;
    }
    .new_news img{
        width: 180px;
    }
    .meta{
        width: 47%;
        left: 220px;
        top:-130px;
    }
    .meta .description{
        font-size: 80%;
    }
    .tab li button{
        font-size: 100%;
    }
    .information{
        left: 260px;
    }
    .social-icon{
        left: 400px;
    }
    .img_title img{
        left: 45px;
    }
}	

/*Small tablet to big tablet from 807px to 1023*/
@media only screen and (max-width: 1023px){
    #title{
        font-size: 16px;
        width: 15%;
        padding: 4px;
        font-weight: bold;
        margin-top: 35px;
    }
    #myCarousel{
        width: 90%;
    }
    .description{
        margin-left: 100px;
       }
    .description h3{
        font-size: 20px;
       }
    .list_title h2{
        font-size: 120%;
    }
    .new_news{
        padding: 2px;
        height: 240px;
    }
    .new_news img{
        width: 150px;
    }
    .meta{
        width: 40%;
        left: 180px;
        top:-110px;
    }
    .meta .description{
        display: none;
    }
    .tab li button{
        font-size: 75%;
    }

    .information{
        left: 130px;
    }
    .social-icon{
        left: 300px;
    }
    .img_title img{
        left: 30px;
    }
}	

/*Small phone to phone tablet 680px to 807px*/
@media only screen and (max-width: 807px){
    .main-caterogy{
        display: none;
    }
      .main-caterogy li{
          display: block;
      }
      .main-caterogy{
          position: relative;
          right: -400px;
          top: 100px;
      }
 
     
      #logo{
          left: -30px;
      }
      .main-nav a.icon {
        float: right;
        display: block;
      }
      .dropbtn{
        width: 120px;
      }

      .img_title img{
          width: 100%;
          left: 10px;
      }
      .description{
          margin-left: 30px;
      }
      .row{
          width: 100%;
          left: 20px;
      }
      .list_title{
          border: none;
      }
      .new_news img{
          width: 130px;
      }
      .meta{
          top: -100px;
          left: 150px;
      }
      .new_news a{
          font-size: 65%;
      }
      .tab li button{
          font-size: 60%;
      }
      .information{
          left: 80px;
      }
      .social-icon{
          left: 250px;
      }
}

/* from 480 to 680px */
@media only screen and (max-width: 680px){
  
    .col_{
        width: 100%;
    }

    .list_col{
        width: 90%;
        height: 500px;
    }
    #new_hidden{
        display: inline;
        border: none;
        width: 100%;
        padding: 10px;
        cursor: pointer;
      }
      #new_hidden:hover{
          text-decoration: underline;
      }
      .tab li button{
          font-size: 90%;
      }
    #new{
        display: none;
    }
    .information li{
        font-size: 100%;
    }
    .information{
        left: 10px;
    }
    .social-icon
    {
        left: 150px;
    }
    .meta .description{
        display: inline-block;
      margin-top: 10px;
      margin-left: -80px;
    }
    .meta{
        top: -140px;
        left: 220px;
    }
    .new_news img{
        width: 200px;
    }
    .main-nav a.icon{
        position: relative;
        right: 20px;
    }

    .frm_search{
        display: none;
    }
      .main-caterogy{
        position: relative;
        top: 130px;
        left: 100px;
    }
      .icon_search{
          font-size: 120%;
      }
      .log_icon{
          margin-right: 30px;
      }
      .description h3{
          font-size: 16px;
      }
      .description p{
          font-size: 14px;
      }
      
}

/*Small phone from 0 to 480px*/
@media only screen and (max-width: 480px){
    .img_logo{
        display: none;
    }
    .main-nav a.icon{
        left: -20px;
    }
    .log_icon{
        margin-left: -60px
    }

    .navbar{
      max-height: 150px;
    }
    .main-caterogy{
        top: 115px;
    }
    #title{
        width: 60%;
    }
    .description h3{
        font: 12px;
    }
    .description p{
        display: none;
    }
    .new_news{
        padding: 1px;
    }
    .new_news img{
        width: 100px;
    }
    .meta .description{
        display: none;
    }
    .meta{
        left: 110px;
        top:-80px;
    }
    .list_col{
        width: 100%;
    }
    .new_news a, .new_news .time{
        font-size: 60%;
    }
    .tab li button{
        font-size: 45%;
    }
    .social-icon{
        left: 20px;
    }
}