/*--------My_Header------------*/
.dropbtn {
    background-color: #F8F8F8;
    color: black;
    padding: 10px;
    font-size: 100%;
    font-weight: bold;
    border: none;
    margin-left: 0;
    margin-right: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 100%;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #DCD5D5;
}

.main-caterogy li {
    list-style: none;
    display: inline-block;
    position: relative;
    left: -30px;
    top: 10px;
    margin-left: 5px;
}

.btn_log {
    width: 100px;
    font-size: 80%;
    margin-right: 5px;
}

.frm_search {
    position: relative;
    right: 10px;
}

.input_search {
    font-size: 80%;
}

.icon_search {
    font-size: 150%;
    margin-left: 5px;
    cursor: pointer;
    transition: all .3s;
}

.icon_search:hover {
    font-size: 180%;
}

.log .dropdown {
    display: inline-block;
}
header
{
    margin-bottom: 10px;
    width: 100%;
}

.nav
{
    background-color: #eeeeee;
    height: 40px;
    width:100%;
}
.nav img
{
    height: 30px;
    width: 30px;
    margin-left: 50px;
    margin-right: 20px;
    margin-top:5px;
}
.nav ul{
    margin-left: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
    
}
.nav ul li
{
    float: left;
    width: 100px;
    height: 40px;
    background-color:#eeeeee;
    opacity: 0.8;
    line-height: 40px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
}
.nav ul li a
{
    text-decoration: none;
    color: black;
    display: block;
    transition: all .1s;
    font-weight: bold;
}

.nav ul li a:hover
{
    height: 40px;
    background-color: #e11b1e;
  
}
.nav ul li ul li
{
    display: none;
    border-bottom: 1px solid gray;
}

.nav ul li:hover ul li
{
    
    display: block;
    text-transform: none;
    background-color: #fff;
}
.nav ul li:hover ul li a:hover
{
    background-color: #4285f4;
    border-bottom: 1px solid gray;
}
.fas
{
    color:black;
    font-weight: bold;
    font-size: 16px;
}
.otherChoose
{
    width: 50px;
}

.nav div
{
    display: inline-block;
    position: relative;
    height: 40px;
}
#listToolbox
{
    list-style-type: none;
    padding: 0px;
    display: inline-block;
    margin-left: 250px;
}

#listToolbox-search
{
    line-height: 40px;
    width: 250px;
    display: inline-block;
}

.search-box
{
    transform: translate(-50%, -50%);
    height: 30px;
}
.search-txt
{
    height: 30px;
    padding: 0px 5px;
    margin-top: 5px;
    float: left;
    margin-right: 10px;
    transition: 0.9s;
    background-color: #fff; 
    line-height: 30px;
    width: 200px;
    border-radius: 6px;
	border:hidden;
	transition: all .10s;
}
#search-btn
{
    width: 13px;
    float:right;
    height: 40px;
    width: 30px;
}

#listToolbox-search div a:hover
{
  background-color:#4285f4; 
   
}
#listToolbox-login
{
    width: 30px;
}
#listToolbox-login a:hover
{
    background-color: green;
}


/* ------------------Contact Section------------------ */
.contact-section{
    background-color: rgb(217, 218, 224);
}
.information li{
    list-style: none;
    font-size: 120%;
    margin-top: 15px;
}

.information li  i{
    margin-right: 20px;
}

.social-icon li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.social-icon{
    position: relative;
    left: 560px;
}

.information{
    position: relative;
    left: 450px;
    margin-bottom: 30px;
}
.information .small-icon
{
    transition: all .5s;
}
.information .small-icon:hover,
.information .small-iocn:active{
	font-size: 150%;
}

.social-icon li i{
    transition: all .3s;
    font-size: 220%;
	cursor: pointer;
}

.social-icon li i:hover,
.social-icon li i:active{
	transform: scale(1.3);
	color: #FFD338;
}
/* -------------------------------------- */
/* -----------------Footer----------------- */
footer{
	text-align: center;
	background-color: #747474;
	color: #FFFFFF;
    padding: 10px;
    font-size: 120%;
}


.post-article-div{
	margin: 30px;
	background-color: #f1f1f1;
	padding: 20px;
}

.post-article-div h3{
    text-transform: uppercase;
}

.title-name{
	width: 500px;
}

.post-article-div .head{
    display: flex;
}

.chuyenmuc-tag{
    margin-left: 70px;
}

#tags{
    margin-left: 70px;
    width: 100px;
}


