*{
    /* background-color: #f1f1f1; */
}

.comments-form.ts-grid-box {
    padding: 30px 80px 40px;
    background: #fff;
}

.comments-form .col-md-12{
    
    background: #fff;
}

.comments-form .ts-form .clearfix ,h3{
    
    background: #fff;
}

.col-lg-9{
    background: #fff;
}

#main-footer{
	background-color: #333;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
} 

#main-footer p {
    background-color: #333;
    color: #fff;
}