<div class="col-3 mt-5"></div>
<div class="col-6 mt-5 popup-tuchoi">
    <form action="/editor/tuchoi/<%= draft.idDraft%>" method="POST" id="frmTuChoi">
        <div class="card text-center shadow-sm ">
            <div class="card-header bg-danger">
                <button type="button" class="close" id="icon-close-tuchoi" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Từ chối bài viết</h4>

            </div>
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">
                        <%= draft.tieuDe %>
                    </h5>
                </a>
                <div class="form-group">
                    <label for="lidotuchoi" class="h5">Lý do từ chối</label>
                    <textarea class="form-control" id="lidotuchoi" rows="3" name="lidotuchoi"></textarea>
                </div>
                </p>
                <a href="javascript: $('#frmTuChoi').submit();" class="btn btn-primary">Từ chối</a>
            </div>
        </div>
    </form>
</div>