<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">Danh sách bài viết</h4>
            <div class="data-tables datatable-dark">
                <table id="dataTable3" class="text-center">
                    <thead class="text-capitalize">
                        <tr>
                            <th>Stt</th>
                            <th>Tên bài viết</th>
                            <th>Xử lý</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td class="h6">Cuộc đời Nhật hoàng Akihito qua ảnh: Bộ mặt nước Nhật suốt 3 thập kỷ</td>
                            <td>
                                <a href="../editor/duyet" class="btn-duyet-click"><i
                                        class="fas fa-check font-weight-bold h4"></i></a>
                                
                                <a href="../editor/tuchoi" class="text-danger btn-tuchoi-click"><i
                                        class="far fa-times-circle font-weight-bold h4"></i></a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>