<div class="col-3 mt-5"></div>
<div class="col-6 mt-5 popup-duyet">
    <form action="/editor/duyet/<%= draft.idDraft %>" method="POST" id="frmDuyet">
        <div class="card text-center shadow-sm ">
            <div class="card-header bg-danger">
                <button type="button" class="close" id="icon-close-duyet" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Duyệt bài viết</h4>
            </div>
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title"><%= draft.tieuDe%></h5>
                </a>
                <div class="form-group">
                    <label for="chuyemmuccon" class="h5">Chuyên mục con</label>
                    <select class="form-control" id="chuyemmuccon" name="chuyenmuccon">
                        <% listCat[0].chuyenMucCon.forEach(function(e){ %>

                            <option><%= e %></option>
                            <% }) %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="tags" class="h5">Các nhãn tag</label>
                    <input type="text" class="form-control" id="tags" value="<%=tagsArr%>">
                </div>
                <div class="form-group">
                    <label for="ngayxuatban" class="h5">Ngày xuất bản</label>
                    <input type="text" class="form-control" id="ngayxuatban" name="ngayxuatban">
                </div>
                <a href="javascript: $('#frmDuyet').submit();" class="btn btn-primary">Duyệt bài</a>
            </div>
        </div>
    </form>
</div>