<div class="bg-modal">
    <div class="modal-content">
        <i class="material-icons" id="icon-close">
            close
        </i>
        <h4>Bài viết</h4>
        <a href="#">Nghệ sĩ Lê Bình qua đời</a>
        <textarea name="" id="editor-tuchoi-lido" cols="3" rows="5" placeholder="Lí do từ chối bài viết"></textarea>
        <button type="button" class="btn btn-danger small-btn">Từ chối</button>

    </div>
</div>


<div class="popup-duyet">
    <div class="popup-content">
        <i class="material-icons" id="icon-close2">
            close
        </i>
        <h4>Duyệt bài</h4>
        <a href="#">Cuộc đời Nhật hoàng Akihito qua ảnh: Bộ mặt nước Nhật suốt 3 thập kỷ</a>
        <hr>
        <div class="categories">
            <h3>Chuyên mục</h3>
            <div class="row">
                <div class="col span-1-of-2 element">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                    <label class="form-check-label" for="defaultCheck1">
                        Thể thao
                    </label>
                </div>
                <div class="col span-1-of-2 element">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Chính trị
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-2 element">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        thời trang
                    </label>
                </div>
                <div class="col span-1-of-2 element">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Công nghệ
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-2 element">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Pháp luật
                    </label>
                </div>
                <div class="col span-1-of-2 element">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Giải trí
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="tags">
            <h3>Tags</h3>
            <div class="col-right-content">
                <form action="" class="form-tags">
                    <input type="text" value="The thao, quan vot, roger federer">
                </form>
            </div>
        </div>
        <hr>
        <div class="date-publish">
            <h3>Ngày xuất bản</h3>
            <form action="">
                <input type="text">

            </form>
        </div>

        <button type="button" class="btn btn-danger small-btn">Từ chối</button>
    </div>
</div>