<div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Danh sách bài viết</h4>
                <div class="data-tables datatable-dark">
                    <table id="dataTable3" class="text-center">
                        <thead class="text-capitalize">
                            <tr>
                                <th>Stt</th>
                                <th>Tên bài viết</th>
                                <th>Thời điểm xuất bản</th>
                            </tr>
                        </thead>
                        <tbody>
                                <% for(var i = 0; i < listDraft.length; i++){%>
                                <tr>
                                    <td><%= i + 1%></td>
                                    <td class="h6"><%= listDraft[i].tieuDe %></td>
                                    <td class="h6"><%= listDraft[i].ngayXuatBan %></td>
                                </tr>
                                <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>