<div class="content-box-list-editor">
    <div class="content-box-list-editor-header p-sm-0 shadow-sm">
        <div class="content-box-title">
            <p>Thêm biên tập viên mới</p>
        </div>
        <div class="content-box-tool">
            <a href="#toggle-add-editor" id="toggle-add-editor">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="content-box-list-editor-content shadow p-4 mb-4 bg-white" id="add-editor-main">
        <form method="POST" id="registerForm">
            <label for="username">Username: </label>
            <input class="form-control" type="text" placeholder="Username" name="username">
            <br>
            <label for="password">Password: </label>
            <input class="form-control" type="password" placeholder="PassWord" name="password">
            <br>
            <label for="fullname">Họ tên: </label>
            <input class="form-control" type="text" placeholder="Nhập họ tên" name="fullname">
            <br>
            <label for="sdt">SĐT: </label>
            <input class="form-control" type="text" placeholder="Nhập sđt" name="sdt">
            <br>
            <label>Chuyên mục quản lý: </label>
            <div class="row">
                <div class="col span-1-of-2">
                    <div class="form-check custom-form-check">
                        <input value="Kinh doanh" name="category" class="form-check-input" type="radio"
                            id="kinhDoanh">
                        <label class="form-check-label" for="kinhDoanh">
                            Kinh doanh
                        </label>
                        <br>
                        <input name="category" class="form-check-input" type="radio" id="theThao" value="Thể thao">
                        <label class="form-check-label" for="theThao">
                            Thể thao
                        </label>
                        <br>
                        <input value="Du lịch" name="category" class="form-check-input" type="radio" id="duLich">
                        <label name="category" class="form-check-label" for="duLich">
                            Du lịch
                        </label>
                        <br>
                        <input value="Đời sống" name="category" class="form-check-input" type="radio" id="doiSong">
                        <label class="form-check-label" for="doiSong">
                            Đời sống
                        </label>
                        <br>
                        <input value="Mua sắm" name="category" class="form-check-input" type="radio" id="muaSam">
                        <label class="form-check-label" for="muaSam">
                            Mua sắm
                        </label>
                    </div>
                </div>

                <div class="col span-1-of-2">
                    <div class="form-check custom-form-check">
                        <input value="Điện ảnh" name="category" class="form-check-input" type="radio" id="dienAnh">
                        <label class="form-check-label" for="dienAnh">
                            Điện ảnh
                        </label>
                        <br>
                        <input value="Sức khỏe" name="category" class="form-check-input" type="radio" id="sucKhoe">
                        <label class="form-check-label" for="sucKhoe">
                            Sức khỏe
                        </label>
                        <br>
                        <input value="Tài chính" name="category" class="form-check-input" type="radio" id="taiChinh">
                        <label class="form-check-label" for="taiChinh">
                            Tài chính
                        </label>
                        <br>
                        <input value="Công nghệ" name="category" class="form-check-input" type="radio" id="congNghe">
                        <label class="form-check-label" for="congNghe">
                            Công nghệ
                        </label>
                        <br>
                        <input value="Pháp luật" name="category" class="form-check-input" type="radio" id="phapLuat">
                        <label class="form-check-label" for="phapLuat">
                            Pháp luật
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group position-button">
                <div>
                    <input type="submit" class="btn btn-primary" value=" Thêm">
                </div>
            </div>

        </form>
    </div>
</div>


<div class="content-box-list-editor">
    <div class="content-box-list-editor-header p-sm-0 shadow-sm">
        <div class="content-box-title">
            <p>Danh sách biên tập viên</p>
        </div>
        <div class="content-box-tool">
            <a href="#toggle-list-editor" id="toggle-list-editor">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="content-box-list-editor-content shadow p-4 mb-4 bg-white" id="list-editor-main">
        <div class="table-responsive">
            <table class="table table-hover" id="main-table">
                <thead>
                    <tr>
                        <th scope="col" class="th-sm">STT</th>
                        <th scope="col">Họ tên</th>
                        <th scope="col">SĐT</th>
                        <th scopr="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% list.forEach(function(i){%>
                    <tr>
                        <td>
                            <p><%=i.idUser%></p>
                        </td>
                        <td>
                            <div>
                                <a href="Manage_Writer_Detail.html" target="_blank"
                                    class="link-to-info"><%=i.hoTen%></a>
                            </div>
                        </td>
                        <td>
                            <p><%=i.phoneNumber%></p>
                        </td>

                        <td><a class="icon" href="/administrator/manage-editor/delete/<%=i._id%>"
                                onclick="return confirm('Are you sure to delete this record ?');"><i
                                    class="fa fa-trash fa-lg" aria-hidden="true"></i></a></td>
                    </tr>

                    <%});%>

                </tbody>
            </table>



        </div>
    </div>
</div>




<div class="modal" id="frmInfo">
    <form class="modal-content animate">
        <div class="frmContainer">
            <span onclick="document.getElementById('frmInfo').style.display='none'" class="close"
                title="Đóng">&times;</span>
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="txtName" class="basicLabel">Họ tên:</label>
            <input type="text" class="form-control name" name="txtName" required>
            <div class="clearfix"></div>
            <label for="txtEmail" class="basicLabel">Email:</label>
            <input type="email" class="form-control name" name="txtEmail" required>
            <div class="clearfix"></div>
            <label for="txtPhone" class="basicLabel">SĐT:</label>
            <input type="tel" class="form-control name" name="txtPhone" required>
            <div class="clearfix"></div>
            <label for="txtPhone" class="basicLabel">Chuyên mục quản lý:</label>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col span-1-of-2">
                    <div class="form-check custom-form-check">
                        <input class="form-check-input" type="checkbox" id="kinhDoanh">
                        <label class="form-check-label" for="kinhDoanh">
                            Kinh doanh
                        </label>
                        <br>
                        <input class="form-check-input" type="checkbox" id="theThao">
                        <label class="form-check-label" for="theThao">
                            Thể thao
                        </label>
                        <br>
                        <input class="form-check-input" type="checkbox" id="duLich">
                        <label class="form-check-label" for="duLich">
                            Du lịch
                        </label>
                        <br>
                        <input class="form-check-input" type="checkbox" id="doiSong">
                        <label class="form-check-label" for="doiSong">
                            Đời sống
                        </label>
                        <br>
                        <input class="form-check-input" type="checkbox" id="muaSam">
                        <label class="form-check-label" for="muaSam">
                            Mua sắm
                        </label>
                    </div>
                </div>

                <div class="col span-1-of-2">
                    <div class="form-check custom-form-check">
                        <input class="form-check-input" type="checkbox" id="dienAnh">
                        <label class="form-check-label" for="dienAnh">
                            Điện ảnh
                        </label>
                        <br>
                        <input class="form-check-input" type="checkbox" id="sucKhoe">
                        <label class="form-check-label" for="sucKhoe">
                            Sức khỏe
                        </label>
                        <br>
                        <input class="form-check-input" type="checkbox" id="taiChinh">
                        <label class="form-check-label" for="taiChinh">
                            Tài chính
                        </label>
                        <br>
                        <input class="form-check-input" type="checkbox" id="congNghe">
                        <label class="form-check-label" for="congNghe">
                            Công nghệ
                        </label>
                        <br>
                        <input class="form-check-input" type="checkbox" id="phapLuat">
                        <label class="form-check-label" for="phapLuat">
                            Pháp luật
                        </label>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="btn-xacnhan-section">
                <input type="button" class="btn btn-primary" value="Cập nhật">
            </div>
        </div>
    </form>
</div>