<div class="content-box-list-subscriber">
    <div class="content-box-list-subscriber-header p-sm-0 shadow-sm">
        <div class="content-box-title">
            <p>Danh sách bài viết</p>
        </div>

        <div class="content-box-tool">
            <a>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="content-box-list-subscriber-content shadow p-4 mb-4 bg-white">
        <div class="table-responsive">
            <table class="table table-hover" id="main-table">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                       
                         <th scope="col">Tên bài viết</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <%listBaiViet.forEach(function(value,i){%>
                        <tr>
                            <td><%=i + 1%></td>
                           
                            <td><%=value.tieuDe%></td>
                            <td>
                                <a href="/administrator/manage-post-published/delete/<%=value.idBaiViet%>"><button class="btn btn-danger btn-sm btnGiaHan">Xoá bài viết</button></a>
                            </td>
                        </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
    </div>
</div>