 <div class="content-box-list-subscriber">
                <div class="content-box-list-subscriber-header p-sm-0 shadow-sm">
                    <div class="content-box-title">
                        <p>Thông tin cá nhân</p>
                    </div>
                  
                    <div class="content-box-tool">
                        <a >
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                
                <div class="content-box-list-subscriber-content shadow p-4 mb-4 bg-white" >
                   <form action="" method="POST">
                       <label for="txtHoTen">Họ tên: </label>
                       <input  class="form-control" type="text" placeholder="Nhập họ tên" name="txtHoTen" value="<%=authUser.hoTen%>">
                       <br>
                       <label for="txtEmail">Email: </label>
                       <input readonly class="form-control"  type="text" placeholder="Nhập email" name="txtEmail" value="<%=authUser.email%>" >
                       <br>
                       <label for="txtSDT">SĐT: </label>
                       <input class="form-control" type="text" placeholder="Nhập sđt" name="txtSDT" value="<%=authUser.phoneNumber%>">
                       <br>
                       <div class="form-group position-button">
                            <div>
                                <input type="submit" class="btn btn-primary" value="Cập nhật">
                            </div>
                        </div>
         </form>
    </div>
</div>
 <div class="content-box-list-subscriber">
                <div class="content-box-list-subscriber-header p-sm-0 shadow-sm">
                    <div class="content-box-title">
                        <p>Thay đổi mật khẩu</p>
                    </div>
                  
                    <div class="content-box-tool">
                        <a href="#toggle-add-form" id="toggle-add-form">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                
                <div class="content-box-list-subscriber-content shadow p-4 mb-4 bg-white" >
                   <form>
                       <label for="txtUserName">Username: </label>
                       <input  class="form-control" type="text" placeholder="" name="txtUserName">
                       <br>
                       <label for="txtNewPassword">Mật khẩu mới: </label>
                       <input class="form-control"  type="text" placeholder="" name="txtNewPassword">
                       <br>
                       <label for="txtConfirmNewPassword">Xác nhận mật khẩu mới: </label>
                       <input class="form-control" type="text" placeholder="" name="txtConfirmNewPassword">
                       <br>
                       <div class="form-group position-button">
                            <div>
                                <input type="button" class="btn btn-primary" value="Cập nhật mật khẩu">
                            </div>
                        </div>
         </form>
    </div>
</div>