
/* ---------------------------------------------- */
/* ------------------- Body --------------------- */

.col-right{
    width: 250px;
    border: 2px solid #ece9e9;
    border-radius: 5px;
    margin-bottom: 20px;
}

.col-right h3{
    margin-top: 5px;
    padding-left: 10px;
    border-bottom: 2px solid  #ece9e9;
}

.col-right-content{
    padding: 5px;
    padding-left: 10px;
    margin: 5px;
}

.col-right-content button{
    width: 100px;
}

.col-right .form-categories{
    margin-left: 20px;
}

.col-left{
    margin-left: 40px;
}

.col-left .form-add-post .title-name,
#tomtat{
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid #ece9e9;
    border-radius: 5px;
}

